In [1]:
# Q1...

x = ("Rahul", (23, ), [234], 45.34)

In [2]:
x

('Rahul', (23,), [234], 45.34)

In [3]:
x = ("Rahul", (23, ), [234], 45.34)
for i in x:
    print(type(i))

<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'float'>

In [4]:
# Q2...

var1 = ''
print(type(var1))

<class 'str'>

In [5]:
var2 = '[DS, ML, Python]'
print(type(var2))

<class 'str'>

In [6]:
var3 = ['DS', 'ML', 'python']
print(type(var3))

<class 'list'>

In [7]:
var4 = 1
print(type(var4))

<class 'int'>

In [9]:
# Q3...

x = 10
print(x%3)

1

In [10]:
x

10

In [11]:
print(x//4)

2

In [12]:
x

10

In [13]:
print(x/2)

5.0

In [14]:
x

10

In [15]:
print(x**2)

100

In [16]:
# Q4...
list = [45, 23.54, "Rahul", (2, ), True, [2, 5], 1+2j, False, "Hello", 7]
for i in list:
    print(type(i))
    print(i)

<class 'int'>
45
<class 'float'>
23.54
<class 'str'>
Rahul
<class 'tuple'>
(2,)
<class 'bool'>
True
<class 'list'>
[2, 5]
<class 'complex'>
(1+2j)
<class 'bool'>
False
<class 'str'>
Hello
<class 'int'>
7

In [22]:
# Q6....
list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in range (1, 26):
    if i % 3==0:
        print(i)

3
6
9
12
15
18
21
24

In [24]:
# Q7...
# list is a mutable data type because in list we can change the value..
# for example
list = [23, 20, 30, 40]
list[1]=50
print(list)

[23, 50, 30, 40]

In [28]:
# similarly tuple is a immutable data type because we can't change any value in string
# for example..
t = (20,30,40,60)
# t[2]=70    Here you can't change data
print(t)

(20, 30, 40, 60)