In [1]:
# Q1...
# comment are different types are as follow:-
# 1 :- single #
# 2 :- Double ##
# 3 :- Triple single inverted comma ''' ''' or triple double inverted comma """ """

In [5]:
# Q2...
#  Python variables are a symbolic name that is a pointer to an object
x = "Rahul"
print(x)

Rahul

In [5]:
# Q3...
L = [1, 2, 3, 4]
print(type(L))

<class 'list'>

In [9]:
x = tuple(L)

In [10]:
print(type(x))

<class 'tuple'>

In [11]:
# Q4...
# First open command prompt then type python and press enter, then type anything that you want ex :- print("Hello") then press enter

In [1]:
# Q5...
my_list = [1, 2, 3, 4, 5]
print(my_list[1:3])

[2, 3]

In [2]:
# Q6...
# Complex numbers are created from two real numbers
# for example :- 
x = 1+2j   # Here '1' and '2' are the real numbers and 'j' is a imaginary number
print(type(x))

<class 'complex'>

In [3]:
# Q7...
my_Age = "I am 25 years old"
print(my_Age)

I am 25 years old

In [4]:
# Q8...
Price = 9.99
print(type(Price))

<class 'float'>

In [7]:
# Q9...
Name = "Rahul kumar jha"
print(Name)
print(type(Name))

Rahul kumar jha
<class 'str'>

In [9]:
# Q10...
x = "Hello World"
print(x[6:11])

World

In [14]:
# Q11...
x = int(input("Enter the boolean value:- "))
if x ==True:
        print("True, you are currently a student")
else:
        print("False, you are not a student")

Enter the boolean value:-  1

True, you are currently a student