Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [9]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [10]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [11]:
# When using loc, you need to specify the row label and column label(s) to retrieve data.
# When using iloc, you need to specify the integer row index and integer column index(es) to retrieve data.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df 
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [12]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
new_df = df.reindex([3,0,1,2])

In [13]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [14]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [15]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [16]:
# "loc" worked on index no. 2 that is in last row but "iloc" worked according to list index that is in third row.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) 	mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [18]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [19]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.456019  0.170314  0.156448  0.670252  0.867213  0.173506
2  0.629962  0.096181  0.154963  0.095193  0.217839  0.767116
3  0.687971  0.252322  0.380193  0.173696  0.980051  0.664820
4  0.868767  0.410058  0.423103  0.701336  0.791038  0.333781
5  0.228287  0.786616  0.177415  0.322361  0.834578  0.860318
6  0.490511  0.177620  0.667574  0.004763  0.900349  0.796779

In [20]:
df1.mean()

column_1    0.560253
column_2    0.315518
column_3    0.326616
column_4    0.327934
column_5    0.765178
column_6    0.599387
dtype: float64

In [21]:
df1['column_2'].std()

0.25419410801176584

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the 
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [28]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [34]:
df1.loc[2,['column_2']] = 0.556477

In [35]:
df1['column_2'].mean()

0.3932108320917056

Q6. What do you understand about the windows function in pandas and list the types of windows 
functions?

In [36]:
# In pandas, the term "window functions" refers to a group of functions that allow you to perform calculations over a specific subset of data called a "window."
# types of window function..
# 1) rolling
# 2) expanding
# 3) ewm
# 4) groupby

Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

In [46]:
import pandas as pd

current_datetime = pd.datetime.now()

current_month = current_datetime.month
current_year = current_datetime.year

print(f"Current month: {current_month}")
print(f"Current year: {current_year}")

Current month: 6
Current year: 2023

/tmp/ipykernel_120/1211038130.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_datetime = pd.datetime.now()

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and 
calculates the difference between them in days, hours, and minutes using Pandas time delta. The 
program should prompt the user to enter the dates and display the result.

In [14]:
dt = pd.to_datetime('2023-06-29')

In [23]:
td = pd.Timedelta(days = 1, hours=5, minutes=25, seconds=45)

In [24]:
dt-td

Timestamp('2023-06-27 18:34:15')

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified 
column to a categorical data type. The program should prompt the user to enter the file path, column 
name, and category order, and then display the sorted data

Q10. Write a Python program that reads a CSV file containing sales data for different products and 
visualizes the data using a stacked bar chart to show the sales of each product category over time. The 
program should prompt the user to enter the file path and display the chart.

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write 
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and 
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:

Enter the file path of the CSV file containing the student data: student_data.csv


+-----------+--------+

| Statistic | Value  |

+-----------+--------+

| Mean      | 79.6   |

| Median    | 82     |

| Mode      | 85, 90 |

+-----------+--------+


Assume that the CSV file student_data.csv contains the following data:

Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85


The program should calculate the mean, median, and mode of the test scores and display the results 
in a table.

In [49]:
import pandas as pd
student_data = pd.DataFrame({'student_id':[1,2,3,4,5,6,7,8,9,10],
                            'Test_score': [85, 90, 80, 75, 85, 82, 78, 85, 90, 85]})

In [50]:
student_data

   student_id  Test_score
0           1          85
1           2          90
2           3          80
3           4          75
4           5          85
5           6          82
6           7          78
7           8          85
8           9          90
9          10          85

In [54]:
mean = student_data['Test_score'].mean()

In [56]:
median = student_data['Test_score'].median()

In [55]:
mode = student_data['Test_score'].mode()

In [58]:
statistic_data = pd.DataFrame({'mean':mean, 'median':median, 'mode': mode })

In [59]:
statistic_data

   mean  median  mode
0  83.5    85.0    85